# .env.example
DATABASE_URL=postgres://USER:PASSWORD@HOST:PORT/DB_NAME
JWT_SECRET=your_jwt_secret_here
NEXT_PUBLIC_API_URL=http://localhost:3001
NODE_ENV=development
DEBUG=true

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=http://localhost:3001/auth/google/callback

# Seed - comptes administrateurs initialement créés
SEED_ADMIN_EMAIL=admin_email
SEED_ADMIN_PASSWORD=admin_password
SEED_ADMIN2_EMAIL=admin2_email
SEED_ADMIN2_PASSWORD=admin2_password
SEED_ADMIN3_EMAIL=admin3_email
SEED_ADMIN3_PASSWORD=admin3_password
